* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", sans-serif;
  }
  
  
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: fixed;
    height: 3rem;
    width: 100%;
    font-weight: bold;
    z-index: 101;
  }
  
  header a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    z-index: 100;
  }
  
  header img {
    height: 60%;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    width: 6%;
  }
  
  .menu hr {
    width: 100%;
  }
  
  .menu hr:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  h1 {text-align: center;
  
  }

  h2 {
    font-weight: 5em;
  }
  
  p {
    text-align: center;
  }
  
  .landing-section {
    height: 100vh;
  }
  
  .landing-section div {
    background: url(https://www.cocacolanederland.nl/content/dam/one/nl/nl/section-header/kominonsteam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
  .arrow-up {
    height: 3.4375rem;
    background-color: black;
    width: 100%;
    margin: 0 0 0.1rem;
    border-radius: unset;
    border-left: black;
  }
  
  .arrow-up::after {
    content: "";
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-135deg);
  }
  
  footer {
    padding-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer:first-child a {
    font-size: 22px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  /* Ik gebruik deze ID want de text hierboven met de footer:first-child a werkt niet. */
  #footer-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  footer ul {
    margin-top: 20px;
    list-style: none;
    margin-bottom: 2rem;
    padding: 0 1.25rem;
  }
  
  footer ul li {
    display: inline;
    line-height: 1.75rem;
  }
  
  footer ul li a {
    font-size: 13px;
    font-weight: lighter;
  }
  
  footer ul li a::before {
    content: "|";
    padding: 0 0.6rem;
  }
  
  footer ul li:first-child a::before {
    content: none;
  }
  
  footer span:last-child {
    font-size: 13px;
    font-weight: lighter;
  }
  